@import "tailwindcss";

* {
  border-color: #e5e7eb;
}

body {
  background-color: #FAFAFA;
  color: #000000;
  font-family: Inter, system-ui, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
